# Virtual Environment
venv/

# Environment
.env

# Python cache
__pycache__/
*.pyc

# Uploaded files
uploads/

# Generated chunks
chunks/

# Generated embeddings
embeddings/

# Chroma database
vector_db/
chroma_db/

# BM25 index
storage/bm25/

# Logs
logs/

# Test cache
.pytest_cache/

# IDE
.vscode/

# OS files
.DS_Store